body {
    background-color: antiquewhite;
    text-align: center;
}

.free{
    position: absolute;
    top: 200px;
    right: 250px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.pong{
    position: absolute;
    top: 200px;
    right: 1300px;
    font-size: 30px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

img{
    max-width: 500px;
    max-height: 200px;
}
