body {
    background-color: antiquewhite;
    text-align: center;
}

.free{
    position: absolute;
    top: 300px;
    right: 280px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(3, 0, 0);
}

.pong{
    position: absolute;
    top: 300px;
    right: 1300px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(3, 0, 0);
}

.relogio {
    position: absolute;
    top: 300px;
    right: 780px;
    font-size: 20px;
    text-align: center;
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(3, 0, 0); 
}

